@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  background-color: #f1f1f1;
  --color-primary: #2a81dd;
}

body {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

/* Tab Menu */
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
  width: 100%;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dialog */
.p-dialog-bottom .p-dialog {
  margin: 0;
}

/* Password */
.p-icon-field > .p-input-icon {
  margin-top: -0.8rem;
}

.p-password,
.p-password > div,
.p-password > div > input {
  width: 100%;
}

.mark-button .p-button-label {
  font-weight: 400;
}

.p-selectbutton .p-button {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

.p-selectbutton .p-button.p-highlight {
  background-color: var(--color-primary);
}

.p-selectbutton .p-button span {
  font-size: 12px;
  font-weight: 500;
}

.p-galleria-close {
  top: 30px;
}
